/*html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  min-width: 62.5em;
  margin: 0;
}

.page-wrapper {
  padding-left: 15%;
  padding-right: 15%;
  position: relative;
}

#api-banner {
  display: block;  
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#product-video {
  width: 80%;
  height: auto;
}*/